body {
	font-size:18px;
}

ul {
	padding-top:10px;
}

li {
	padding-top:10px;
	padding-bottom:10px;
}

label {
	display:inline-block;
	width: 50px;
}

.submitform {
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 40px;
}

.navigation {
  	background-color: #E55233;
		padding-top:10px;
  	padding-left:20px;
}

.nav-title {
	font-weight:600;
	font-size: 20px;
}

.newslist, .submitform {
  	background-color: #E5D6B7;
}

.btn-hacker {
	background-color:#E55233;
	color: white;
}

.hideform{
  	display: none ;
}

li.hide-all {
	display:none ;
}

.hide-all {
	display:none ;
}
